.navbar-toggler {
    border-color: white; /* Make the border visible on a dark background */
  }
  
 
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  

  
.navbar {
  padding: 10px 20px; 
}



.navbar-brand {
  font-size: 1.5rem;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center; 
}


.navbar-nav .nav-item {
  margin-left: 20px; 
}

.navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1rem; 
}
